.table_user_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.table_user_container button{
    width: 30%;
    padding: 10px;
    align-self: flex-end;
    margin-bottom: 5px;
    background-color: #5cb85c;
    color: white;
    border-radius: 10px;
    margin-right: 3%;
}

table{
    margin: auto;
    width: 95%;
}


th{
    margin-top: 5px;
    border-top: 1px solid black;
    padding: 10px;
    color: white;
    background-color: rgb(80, 80, 80);
    
}

td{
    border-top: 1px solid black;
    padding: 10px;
}

.actions{
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.actions {
    cursor: pointer;
}