<main class="main-container">
  <section class="main-container__background-section">
    <div class="card">
      <p class="card__logo" src="" alt=""></p>
      <p class="card__number">5340 4040 2010 0123</p>
      <div class="card__details">
        <p class="card__details-name">Juan J Sipriano</p>
        <p><span class="card__month">03</span>/<span class="card__year">50</span></p>
      </div>
    </div>

    <div class="card-back">
      <p class="card-back__cvc">123</p>
    </div>
  </section>

  <section class="main-container__form-section">
    <form [formGroup]="pasarelaForm" (ngSubmit)="onPasarela()" class="form">
      <label class="form__label" for="cardholder">Tarjetahabiente</label>
      <input class="form__input" type="text" id="cardholder" placeholder="ejem Juan Vergara" formControlName="nombreTitular">
      <div class="form__cardholder--error error">
        <ng-container *ngIf="pasarelaForm.controls['nombreTitular'].invalid && pasarelaForm.controls['nombreTitular'].touched">
          El nombre del tarjetahabiente es requerido.
        </ng-container>
      </div>

      <label class="form__label" for="cardNumber">Número de Tarjeta</label>
      <input class="form__input" type="text" id="cardNumber" maxlength="16" placeholder="ejem. 1234567891230000" formControlName="number">
      <div class="form__inputnumber--error error">
        <ng-container *ngIf="pasarelaForm.controls['number'].invalid && pasarelaForm.controls['number'].touched">
          Número de tarjeta inválido. Debe tener 16 dígitos.
        </ng-container>
      </div>

      <div class="form__date-cvc">
        <label class="form__label" for="cardMonth">Fecha de Expiración (MM/AA)</label>
        <label class="form__label" for="cardCvc">CVC</label>
        <div class="form__date">
          <input class="form__input" type="text" maxlength="5" id="cardMonth" placeholder="MM/AA" formControlName="expiration_date">
        </div>
        <input class="form__input" type="text" maxlength="4" id="cardCvc" placeholder="ejem. 123" formControlName="cvc" type="password">
        <div class="form__errors-container">
          <div class="form__input-mm--error error">
            <ng-container *ngIf="pasarelaForm.controls['expiration_date'].invalid && pasarelaForm.controls['expiration_date'].touched">
              Fecha de expiración inválida. Formato esperado MM/AA.
            </ng-container>
          </div>
          <div class="form__input-yy--error error"></div>
        </div>
        <div class="form__input-cvc--error error">
          <ng-container *ngIf="pasarelaForm.controls['cvc'].invalid && pasarelaForm.controls['cvc'].touched">
            CVC inválido. Debe tener 3 o 4 dígitos.
          </ng-container>
        </div>
      </div>
      <input class="form__submit" type="submit" value="Confirmar">
    </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </section>
</main>
