<div class="filters_container">
    <div class="filter_control">
        <label for="startDate">Fecha de inicio:</label>
        <input type="date" id="startDate" >
    </div>
    <div class="filter_control">
        <label for="endDate">Fecha de fin:</label>
        <input type="date" id="endDate">
    </div>
    <div class="filter_control">
        <label for="search">Buscar por acción:</label>
        <input type="text" id="search">
    </div>
    
    <button (click)="filterData()" >Filtrar</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Acción</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>IP del Usuario</th>
        <th>Nombre de Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of logs">
        <td>{{ record.id_record }}</td>
        <td>{{ record.action }}</td>
        <td>{{ record.date }}</td>
        <td>{{ record.time }}</td>
        <td>{{ record.ip_user }}</td>
        <td>{{ record.users.user_name }}</td>
      </tr>
    </tbody>
  </table>