<div>
    <nav>
        <ul>
            <li (click)="clickRoute($event, 'users')">Usuarios</li>
            <li (click)="clickRoute($event, 'parkings')">Parqueaderos</li>
            <li (click)="clickRoute($event, 'admins')">Administradores</li>
        </ul>
    </nav>

    <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
    ></apx-chart>

    <router-outlet></router-outlet>
</div>
