.card {
    width: 100%;
    max-width: 24rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}

.card-image {
    display: block;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 200px; /* Tamaño predeterminado para .card-image */
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 1rem;
    height: 2.5rem; /* Tamaño predeterminado para .card-title */
    overflow: hidden;
}

.card-title:hover {
    color: #2563eb;
}

.card-status {
    margin-bottom: 1rem;
    height: 2rem; /* Tamaño predeterminado para .card-status */
}

.status-badge {
    background-color: #dcfce7;
    color: #166534;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.card-address {
    height: 3.6rem; /* Tamaño predeterminado para .card-address */
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.card-address p {
    color: #4b5563;
    font-size: 0.9rem;
}

.card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    height: 3rem; /* Tamaño predeterminado para .card-action */
}

.reserve-button {
    background-color: #2563eb;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #1d4ed8;
}