<header>
    <app-header></app-header>
  </header>
  
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Actualizar Tarjeta</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="cardForm" (ngSubmit)="updateCard()">
          <div class="form-group">
            <label for="card-number">Número de Tarjeta</label>
            <input 
              type="text" 
              id="card-number" 
              formControlName="cardNumber" 
              maxlength="16" 
              required
              class="form-control">
            <div *ngIf="cardForm?.get('cardNumber')?.invalid && (cardForm?.get('cardNumber')?.dirty || cardForm?.get('cardNumber')?.touched)" class="text-danger">
              <div *ngIf="cardForm?.get('cardNumber')?.errors?.['required']">El número de tarjeta es requerido.</div>
              <div *ngIf="cardForm?.get('cardNumber')?.errors?.['pattern']">El número de tarjeta debe tener 16 dígitos numéricos.</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="expiry-date">Fecha de Expiración</label>
            <input 
              type="text" 
              id="expiry-date" 
              formControlName="expiryDate" 
              placeholder="MM/AA" 
              maxlength="5" 
              required
              class="form-control">
            <div *ngIf="cardForm?.get('expiryDate')?.invalid && (cardForm?.get('expiryDate')?.dirty || cardForm?.get('expiryDate')?.touched)" class="text-danger">
              <div *ngIf="cardForm?.get('expiryDate')?.errors?.['required']">La fecha de expiración es requerida.</div>
              <div *ngIf="cardForm?.get('expiryDate')?.errors?.['pattern']">La fecha de expiración debe tener el formato MM/AA.</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="security-code">Código de Seguridad</label>
            <input 
              type="text" 
              id="security-code" 
              formControlName="securityCode" 
              maxlength="4" 
              required
              class="form-control">
            <div *ngIf="cardForm?.get('securityCode')?.invalid && (cardForm?.get('securityCode')?.dirty || cardForm?.get('securityCode')?.touched)" class="text-danger">
              <div *ngIf="cardForm?.get('securityCode')?.errors?.['required']">El código de seguridad es requerido.</div>
              <div *ngIf="cardForm?.get('securityCode')?.errors?.['pattern']">El código de seguridad debe tener 3 o 4 dígitos.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="updateCard()" [disabled]="cardForm.invalid">Actualizar</button>
        <button class="btn btn-secondary" type="button" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
  