    <app-header *ngIf="rol === 'Administrador' || rol === 'Cliente' || rol === 'Gerente'" ></app-header>
    <app-vnologueo *ngIf="rol != 'Administrador' && rol != 'Cliente' && rol != 'Gerente'"></app-vnologueo>

    <main class="container mx-auto my-10 p-5 bg-white shadow-md rounded-lg">
        <h2 class="text-3xl font-bold mb-5">Conócenos</h2>
        <div class="space-y-5">
            <p>
                FourParks es una plataforma dedicada a facilitar la reserva de parqueaderos en ciudades de Colombia.
                Nuestro objetivo es ofrecer una solución práctica y eficiente para que encuentres y reserves el espacio perfecto para tu vehículo en la ciudad.
            </p>
            <p>
                Desde nuestra fundación en 2024, hemos trabajado arduamente para construir una red de parqueaderos confiables y accesibles en diferentes zonas de Bogotá.
                Nuestra misión es hacer que la búsqueda de parqueaderos sea lo más sencilla y rápida posible, ahorrando tiempo y esfuerzo a nuestros usuarios.
            </p>
            <h3 class="text-2xl font-semibold">Nuestra Historia</h3>
            <p>
                La idea de FourParks surgió de la necesidad de encontrar soluciones de estacionamiento en una ciudad tan concurrida como Bogotá.
                Nuestro equipo, conformado por expertos en tecnología y movilidad urbana, se unió con la visión de transformar la manera en que las personas encuentran y reservan parqueaderos.
            </p>
            <h3 class="text-2xl font-semibold">Nuestro Equipo</h3>
            <p>
                Estamos formados por un equipo diverso y talentoso, apasionado por la innovación y el servicio al cliente.
                Creemos en el poder de la tecnología para mejorar la calidad de vida y estamos comprometidos en brindar una experiencia de usuario excepcional.
            </p>
            <h3 class="text-2xl font-semibold">Nuestros Valores</h3>
            <ul class="list-disc list-inside space-y-2">
                <li><strong>Innovación:</strong> Constantemente buscamos nuevas maneras de mejorar nuestros servicios.</li>
                <li><strong>Calidad:</strong> Nos esforzamos por ofrecer la mejor experiencia a nuestros usuarios.</li>
                <li><strong>Confiabilidad:</strong> Garantizamos la seguridad y disponibilidad de nuestros parqueaderos.</li>
                <li><strong>Sostenibilidad:</strong> Promovemos prácticas amigables con el medio ambiente.</li>
            </ul>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-blue-600 text-white p-4 mt-10">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 FourParks. Todos los derechos reservados.</p>
        </div>
    </footer>
    

