<router-outlet></router-outlet>
<div class="table_user_container">
    <button (click)="GoToCreateWindows()">Crear Parqueadero</button>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direcion</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of parkings">
            <td>{{ item.id_parking }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td class="actions">
                <fa-icon (click)="Edit(item.id_parking)" [icon]="faEdit"> </fa-icon>
            </td>
          </tr>
        </tbody>
    </table>
</div>