<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Mapa</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<app-header *ngIf="rol === 'Administrador' || rol === 'Cliente' || rol === 'Gerente'" ></app-header>
<app-vnologueo *ngIf="rol != 'Administrador' && rol != 'Cliente' && rol != 'Gerente'"></app-vnologueo>

<div class="map-container">
  <google-map height="800px" width="100%" [center]="center" [zoom]="zoom">
    <map-marker *ngFor="let parking of parkings"
                [position]="{ lat: parking.latitude, lng: parking.longitude }"
                [options]="markerOptions"
                [title]="parking.name"
                (mapClick)="openInfoWindow(parking)">
    </map-marker>
  </google-map>

  <div *ngIf="selectedParking" class="info-window">
    <button class="close-btn" (click)="closeInfoWindow()">×</button>
    <h2>{{ selectedParking.name }}</h2>
    <p>{{ selectedParking.address }}</p>
    <img [src]="selectedParking.image_path" alt="{{ selectedParking.name }}" class="info-image">
  </div>
</div>
