body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Eliminar el scrollbar */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px; /* Margen alrededor del mapa */
  box-sizing: border-box;
}

.map-container {
  position: relative;
  width: 90%; /* Ajusta este valor según el margen deseado */
  height: 90%; /* Ajusta este valor según el margen deseado */
  max-width: 1200px; /* Máximo ancho para el mapa */
  max-height: 800px; /* Máxima altura para el mapa */
  border: 2px solid black; /* Agrega un borde negro de 2px */
  border-radius: 20px; /* Hace que las esquinas sean redondeadas */
  overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
}

.info-window {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
  max-width: 300px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.info-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

h3 {
  margin-top: 10px;
}
