.map-container {
  position: relative;
  width: 100%;
  height: 98%;
}

.info-window {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
  max-width: 300px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.info-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

h3 {
  margin-top: 10px;
}
