<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Proceso Cancelado</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <div class="container" style="text-align: center;">
    <div class="aviso" style="font-size: 24px; font-weight: bold; border-radius: 10px;">
      <p>Proceso Cancelado</p>
      <p>El proceso de reservacion del Parqueadero ha sido cancelado.</p>
    </div>
  </div>
</body>
</html>
