<header>
    <app-header></app-header>
</header>
<div class="edit_user_container">
    <h1>Editar usuario</h1>
    <div class="form_container">
        <label for="user_name" >Nombre de usuario</label>
        <input type="text" id="user_name" [value]="user.user_name">
        
        <label for="first_name">Primer Nombre</label>
        <input type="text" id="first_name" [value]="user.first_name">
        
        <label for="last_name">Apellido</label>
        <input type="text" id="last_name" [value]="user.last_name">
        
    
        <label for="identification_card">Cedula</label>
        <input type="number" id="identification_card" [value]="user.identification_card">
        

        <label for="loyalty_points">Contraseña</label>
        <input type="password" id="password" >
        

        <button (click)='updateUser(user.id_user)'>Actualizar</button>
    </div>
</div>

